{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Barrage</title>
  <link rel="stylesheet" type="text/css" href="{% static 'barrage.css' %}"/>
</head>
<body>
<div class="show-container" id="show-container">
  <video
    id="video"
    autoplay
    width="100%"
    height="100%"
    controls
    poster="{% static "cover.jpg" %}"
    source src={% static "1.ogg" %}
  >
  </video>
</div>
<input type="text" id="input" />
<button id="submit">提交</button>
</body>
<script src="{% static 'barrage.js' %}"></script>
</html>